{% extends 'base.html.twig' %}

{% block title %}My Todo list{% endblock %}

{% block body %}
    <h2 class="page-header">Latest Todos</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Todo</th>
                <th scope="col">Priority</th>
                <th scope="col">Due Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for key, todo in todos %}
                <tr>
                    <td scope="row">{{ key+1 }}</td>
                    <td>
                        <a href="{{ path('todo_details', {'id': todo.id}) }}">{{ todo.name }}</a>
                    </td>
                    <td>{{ todo.priority }}</td>
                    <td>{{ todo.dueDate|date('F j, Y, g a') }}</td>
                    <td class="text-right">
                        <a href="{{ path('todo_details', {'id': todo.id}) }}" class="btn btn-success">View</a>
                        <a href="{{ path('todo_edit', {'id': todo.id}) }}" class="btn btn-default">Edit</a>
                        <a href="{{ path('todo_delete', {'id': todo.id}) }}" class="btn btn-danger">Delete <span class="oi oi-circle-x"></span></a>
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td scope="row" colspan="5" class="text-right">
                    <a href="{{ path('todo_create') }}" class="btn btn-success">Create New Todo <span class="oi oi-plus"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
